.FormAjoutCellier {
	text-align: center;

	.form-ajout--container {
		margin: 0 auto;
		max-width: 400px;

		span {
			color: #cc4240;
		}

		label {
			font-size: 15px;
			font-weight: 300;
		}
		
		input {
			font-size: 15px;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 5px;
			width: 100%;
		}

		button {
			background-color: #152440;
			border: none;
			border-radius: 4px;
			color: #f3f5eb;
			font-family: Alata, sans-serif;
			font-size: 12px;
			margin-top: 20px;
			padding: 10px 25px 10px 25px;
			text-transform: uppercase;

			&:hover {
				background-color: #f1ab50;
				color: #152440;
				cursor: pointer;
			}
		}
	}
}